{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/password" method="post" id="password">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>

    <script>

        $(document).ready(function(){
            $(document).submit(function(){

                if (!$("#password input[name=password]").val() || !$("#password input[name=confirmation]").val())
                {
                    alert("Missing password or confirmation.");
                    return false;
                }
                else if ($("#password input[name=password]").val() != $("#password input[name=confirmation]").val())
                {
                    alert("Password and confirmation not match")
                    return false;
                }
                else if ($("#password input[name=password]").val().length < 8)
                {
                    alert("Password's length should be longer than 8")
                    return false;
                }
                return true;

            });
            
        });

    </script>

{% endblock %}